<%- include('../includes/top.ejs') %>

</head>

<body>
  <section class="main">
    <%- include('../includes/navigation.ejs') %>
    <div class="main-content tabcontent" id="availabel">
      <!-- start new item -->
       <div class="new-items ">
         <div class="new-items_conatiner">
           <h2>new availabel blood</h2>
           <p class="red">available blood</p>
         <form class="new-items_form">	 
            <label class="new-items_label" for="type">blood type</label>
            <select class="new-items_select type">
              <option value="a+">a+</option>
              <option value="a-">a-</option>
              <option value="o+">o+</option>
              <option value="o-">o-</option>
              <option value="b+">b+</option>
              <option value="b-">b-</option>

              <option value="ab+">ab+</option>
              <option value="ab-">ab-</option>
            </select>
            <label class="new-items_label" for="quantity">blood quantity</label>
            <input class="new-items_input" type="number" name="quantity">
         </form>	 
         <button class="add-new add-new_float addnew">create</button>
         </div>
       </div> 
      <!-- end new item -->
      <div class="pd-1">
    <div class="container" >
       <button class="add-new addMain">new</button>
      <table class="availabel">
     <thead>
       <tr>
         <th scope="col">blod</th>
         <th scope="col">quantity</th>
         <th scope="col"></th>
       </tr>
     </thead>
     <tbody>
      <% if (bloods.length > 0) {
        let i = itemCounterStartInCurrentPage;
        for (let blood of bloods) { %>
       <tr>
         <td data-label="name"><%= blood.bloodType %></td>
         <td data-label="quantity"> <%= blood.bloodQuantity %></td>
       
         <% if (isAuthenticated && blood.userId._id.toString() === currentUser._id.toString()) { %>
          <td data-label="edit" class="right">
            <span><a href="/edit-blood/<%= blood._id %>?edit=true"><i class="fas fa-edit"></i></a></span>
            <span><a><i class="fas fa-trash-alt"></i></a></span>
          </td>
        
          
          <div class="myItem">
            <form action="delete-blood" method="POST">
              <input type="hidden" value="<%= blood._id %>" name="bloodId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </tr> 
        <% i--; } %>
      <% } else { %>
        <p>No Patients found.</p>
        <% } %>
      </tbody>
  </table>
    </div> 		

</div>
</div> 
  </section>









<!-- 
  <main class="myContainer">
    <% if (bloods.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let blood of bloods) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          
          <p>Blood Type</p>
          <div class="myItem">
            <%= blood.bloodType %>
          </div>  

          <p>Quantity:</p>
          <div class="myItem">
            <%= blood.bloodQuantity %>
          </div>

          <p>Date</p>
          <div class="myItem">
            <%=blood.date%>
          </div>

          <% if (isAuthenticated && blood.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-blood/<%= blood._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-blood" method="POST">
              <input type="hidden" value="<%= blood._id %>" name="bloodId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No Bloods found.</p>
    <% } %>

    <%- include('../includes/pagination.ejs', paginationObject) %>

  </main> -->

  <%- include('../includes/bottom.ejs') %>