<%- include('../includes/top.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="myContainer center">

    <p>Comment initially posted at:
      <%= patient.date %>
    </p>
    <form action="/edit-blood" method="POST">

      <label for="bloodtype">Blood Type</label>
      <select class="new-items_select type" name="bloodType" id="bloodType">
          <option value="a+">a+</option>
          <option value="a-">a-</option>
          <option value="o+">o+</option>
          <option value="o-">o-</option>
          <option value="b+">b+</option>
          <option value="b-">b-</option>
          <option value="ab+">ab+</option>
          <option value="ab-">ab-</option>
          <option value="<%if(editing) {%><%=blood.bloodType%><% } %>">
          <%if(editing) {%><%=blood.bloodType%><% } %></option>
      </select>
      
      <label for="bloodQuantity">Quantity</label>
      <input type="text" name="bloodQuantity" id="bloodQuantity" value="<% if (editing) { %><%= blood.bloodQuantity %><% } %>">

    

      
      <% if (editing) { %>
      <input type="hidden" value="<%= blood._id %>" name="bloodId">
      <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="myButton" type="submit">Submit</button>
    </form>
  </main>

  <%- include('../includes/bottom.ejs') %>