<%- include('../includes/navigation.ejs') %>

  <section class="main">
    <div class="main-content tabcontent" id="needBlood">
      
 <div class="pd-1">
      <div class="container">
         <button class="add-new addMain">new need</button>
        <table>
       <thead>
         <tr>
           <th scope="col">blood type</th>
           <th scope="col">department</th>
           <th scope="col">patient</th>
           <th scope="col">quantity</th>
           <th scope="col">date</th>
           <th scope="col" class="center">done</th>
           <th scope="col"></th>
         </tr>
       </thead>
       <tbody>
        <% if (patients.length > 0) {
          let i = itemCounterStartInCurrentPage;
          for (let patient of patients) { %>
         <tr>
           <td data-label="blood type" class="blood-type"><%= patient.bloodType %></td>
           <td data-label="department"><%= patient.department %></td>
           <td data-label="patient"> <%= patient.patientName %></td>
           <td data-label="quantity"> <%= patient.quantity %></td>
            <td data-label="date">  <%=patient.date%></td>
           <td data-label="done"><p class="not-done"></p></td>
          <!--  <td data-label="edit">
             <span><a><i class="fas fa-edit"></i></a></span>
             <span><a><i class="fas fa-trash-alt"></i></a></span>

           </td> -->
           <% if (isAuthenticated && patient.userId._id.toString() === currentUser._id.toString()) { %>
            <td data-label="edit" class="right">
              <span><a href="/edit-neededBlood/<%= patient._id %>?edit=true"><i class="fas fa-edit"></i></a></span>
              <span>
                <form action="/delete-patient" method="POST" style="display: inline-block;">
                   <input type="hidden" value="<%= patient._id %>" name="patientId">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <a type="submit"><i class="fas fa-trash-alt"></i></a>
                </form>
              </span>
            </td>
            <% } %> 
            

      
          </tr> 
          <% i--; } %>
        <% } else { %>
          <p>No Patients found.</p>
          <% } %>
       
           
       </tbody>
    </table>
      </div> 		
 </div>
</div>
  </section>
  <!-- <main class="myContainer">
    <% if (patients.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let patient of patients) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          
          <p>Blood Type</p>
          <div class="myItem">
            <%= patient.bloodType %>
          </div>  

          <p>Department:</p>
          <div class="myItem">
            <%= patient.department %>
          </div>

          <p>Patient Name:</p>
          <div class="myItem">
            <%= patient.patientName %>
          </div>

          <p>Quantity:</p>
          <div class="myItem">
            <%= patient.quantity %>
          </div>

          <p>Date</p>
          <div class="myItem">
            <%=patient.date%>
          </div>

          <% if (isAuthenticated && patient.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-neededBlood/<%= patient._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-neededBlood" method="POST">
              <input type="hidden" value="<%= patient._id %>" name="patientId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No Patients found.</p>
    <% } %>

    <%- include('../includes/pagination.ejs', paginationObject) %>

  </main> -->

  <%- include('../includes/bottom.ejs') %>