<%- include('../includes/top.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="myContainer center">

    <p>Comment initially posted at:
      <%= patient.date %>
    </p>
    <form action="/edit-patient" method="POST">

      <label for="patient">Patient Name</label>
      <input type="text" name="patientName" id="patientName" value="<% if (editing) { %><%= patient.patientName %><% } %>">

      <label for="nationalId">National Id</label>
      <input type="text" name="nationalId" id="nationalId" value="<% if (editing) { %><%= patient.nationalId %><% } %>">

      <label for="phoneNumber">Phone Number</label>
      <input type="text" name="phoneNumber" id="phoneNumber" value="<% if (editing) { %><%= patient.phoneNumber %><% } %>">

      <label for="address">Address</label>
      <input type="text" name="address" id="address" value="<% if (editing) { %><%= patient.address %><% } %>">

     <label for="bloodtype">Blood Type</label>
      <select class="new-items_select type" name="bloodType" id="bloodType">
          <option value="a+">a+</option>
          <option value="a-">a-</option>
          <option value="o+">o+</option>
          <option value="o-">o-</option>
          <option value="b+">b+</option>
          <option value="b-">b-</option>
          <option value="ab+">ab+</option>
          <option value="ab-">ab-</option>
          <option value="<%if(editing) {%><%=patient.bloodType%><% } %>">
          <%if(editing) {%><%=patient.bloodType%><% } %></option>
      </select>

      <label for="donationDay">Donation Day</label>
      <input type="date" name="donationDay" id="donationDay" value="<% if (editing) { %><%= patient.donationDay %><% } %>">

      <label for="nextDonationDay">Next Donation Day</label>
      <input type="date" name="nextDonationDay" id="nextDonationDay" value="<% if (editing) { %><%= patient.nextDonationDay %><% } %>">
      
      <% if (editing) { %>
      <input type="hidden" value="<%= patient._id %>" name="patientId">
      <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="myButton" type="submit">Submit</button>
    </form>
  </main>

  <%- include('../includes/bottom.ejs') %>