 <%- include('../includes/navigation.ejs') %>

 <section class="main">
  <div class="main-content tabcontent" id="patient">
    <div class="new-items">
      <div class="new-items_conatiner">
        <h2>new patient</h2>
        <p class="red">patient info</p>
        <!-- <p class="red">   <%= patient.date %></p> -->
        <form action="/edit-patient" method="POST" class="new-items_form">
          <label for="patientName" class="new-items_label">Patient Name</label>
          <input class="new-items_input" type="text" name="patientName" id="patientName" value="<% if (editing) { %><%= patient.patientName %><% } %>"/>
    
          <label for="nationalId" class="new-items_label">National Id</label>
          <input  class="new-items_input" type="text" name="nationalId" id="nationalId" value="<% if (editing) { %><%= patient.nationalId %><% } %>">
    
          <label for="phoneNumber" class="new-items_label">Phone Number</label>
          <input class="new-items_input" type="text" name="phoneNumber" id="phoneNumber" value="<% if (editing) { %><%= patient.phoneNumber %><% } %>" />
    
          <label for="address" class="new-items_label">Address</label>
          <input class="new-items_input" type="text" name="address" id="address"  value="<% if (editing) { %><%= patient.address %><% } %>" />
    
          <label for="bloodType" class="new-items_label">Blood Type</label>
          <select name="bloodType" id="bloodType" class="new-items_select type">
            <option value="a+">a+</option>
            <option value="a-">a-</option>
            <option value="o+">o+</option>
            <option value="o-">o-</option>
            <option value="b+">b+</option>
            <option value="b-">b-</option>
            <option value="ab+">ab+</option>
            <option value="ab-">ab-</option>
            <option value="<%if(editing) {%><%=patient.bloodType%><% } %>">
              <%if(editing) {%><%=patient.bloodType%><% } %></option>
          </select>
          
          <% if (editing) { %>
            <input type="hidden" value="<%= patient._id %>" name="patientId">
            <% } %>
          
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> 
          <button class="add-new add-new_float addnewrs" type="submit">Submit</button>
        </form>
       
      </div>
    </div>
  </div>
</section>




  
  <%- include('../includes/bottom.ejs') %>