<%- include('../includes/top.ejs') %>

</head>

<body>
  <section class="main">
    <%- include('../includes/navigation.ejs') %>
    <div class="main-content tabcontent" id="patient">
      <div class="new-items">
        <div class="new-items_conatiner">
          <h2>new patient</h2>
          <p class="red">patient info</p>
        <form class="new-items_form">	 
           <label class="new-items_label" for="type">blood type</label>
           <select class="new-items_select type">
             <option value="a+">a+</option>
             <option value="a-">a-</option>
             <option value="o+">o+</option>
             <option value="o-">o-</option>
             <option value="b+">b+</option>
             <option value="b-">b-</option>

             <option value="ab+">ab+</option>
             <option value="ab-">ab-</option>
           </select>
           <label class="new-items_label" for="patient">Patient Name</label>
           <input class="new-items_input" type="text" name="patient">
           <label class="new-items_label" for="nationalid">National Id</label>
           <input class="new-items_input" type="text" name="nationalid">
           <label class="new-items_label" for="phone">Phone Number</label>
           <input class="new-items_input" type="number" name="phone">
               <label class="new-items_label" for="address">Address</label>
           <input class="new-items_input" type="text" name="address">
           <label class="new-items_label" for="email">Email</label>
           <input class="new-items_input" type="email" name="email">
        </form>	 
        <button class="add-new add-new_float addnew">create</button>
        </div>
      </div>
<div class="pd-1">
   <div class="container">
      <button class="add-new addMain">add patient</button>
     <table>
    <thead>
      <tr>
        <th scope="col">patient name</th>
        <th scope="col">national id</th>
        <th scope="col">phone</th>
     
        <th scope="col">address</th>
        <th scope="col">donation day</th>
        <th scope="col">email</th>
        <th scope="col" class="center">blood type</th>
        
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if (patients.length > 0) {
        let i = itemCounterStartInCurrentPage;
        for (let patient of patients) { %>
     <tr>
        <td data-label="name"><%= patient.patientName %></td>
        <td data-label="national id">  <%= patient.nationalId %></td>
        <td data-label="phone"><%= patient.phoneNumber %></td>
    
        <td data-label="address"><%= patient.address %></td>
        <td data-label="donation day"><%= patient.donationDay %></td>
        <td data-label="email" class="email">mohamed@gmail.com</td>
        <td data-label="blood type" class="blood-type center"><%= patient.bloodType %></td>
     
        <td data-label="edit" class="right">
          <span><a><i class="fas fa-edit"></i></a></span>
          <span><a  href="/edit-patient/<%= patient._id %>?edit=true"><i class="fas fa-trash-alt"></i></a></span>
        </td>
        
        <form action="/delete-patient" method="POST">
          <input type="hidden" value="<%= patient._id %>" name="patientId">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
        </form>
        <!-- <% if (isAuthenticated && patient.userId._id.toString() === currentUser._id.toString()) { %> -->
        
        <div class="myItem">
       <!--    <% } %> -->
        </div>
      </tr> 
      <% i--; } %>
    <% } else { %>
      <p>No Patients found.</p>
      <% } %>
    </tbody>
 </table>
   </div> 		
</div>
</div> 
  </section>






 <!--  <main class="myContainer">
    <% if (patients.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let patient of patients) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          
          <p>Patient Name:</p>
          <div class="myItem">
            <%= patient.patientName %>
          </div>
          <p>National Id</p>
          <div class="myItem">
            <%= patient.nationalId %>
          </div>
          <p>Address</p>
          <div class="myItem">
            <%= patient.address %>
          </div>
          <p>Phone Number</p>
          <div class="myItem">
            <%= patient.phoneNumber %>
          </div>
          <p>Blood Type</p>
          <div class="myItem">
            <%= patient.bloodType %>
          </div>
          <p>Donation Day</p>
          <div class="myItem">
            <%= patient.donationDay %>
          </div>
          <p>Next Donation Day</p>
          <div class="myItem">
            <%= patient.nextDonationDay %>
          </div>

          <% if (isAuthenticated && patient.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-patient/<%= patient._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-patient" method="POST">
              <input type="hidden" value="<%= patient._id %>" name="patientId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No Patients found.</p>
    <% } %>

    
  </main> -->
  <%- include('../includes/pagination.ejs', paginationObject) %>

  <%- include('../includes/bottom.ejs') %>