<%- include('../includes/top.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="myContainer">
    <% if (patients.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let patient of patients) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          
          <p>Patient Name:</p>
          <div class="myItem">
            <%= patient.patientName %>
          </div>
          <p>National Id</p>
          <div class="myItem">
            <%= patient.nationalId %>
          </div>
          <p>Address</p>
          <div class="myItem">
            <%= patient.address %>
          </div>
          <p>Phone Number</p>
          <div class="myItem">
            <%= patient.phoneNumber %>
          </div>
          <p>Blood Type</p>
          <div class="myItem">
            <%= patient.bloodType %>
          </div>
          <p>Donation Day</p>
          <div class="myItem">
            <%= patient.donationDay %>
          </div>
          <p>Next Donation Day</p>
          <div class="myItem">
            <%= patient.nextDonationDay %>
          </div>

          <% if (isAuthenticated && patient.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-patient/<%= patient._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-patient" method="POST">
              <input type="hidden" value="<%= patient._id %>" name="patientId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No Patients found.</p>
    <% } %>

    <%- include('../includes/pagination.ejs', paginationObject) %>

  </main>

  <%- include('../includes/bottom.ejs') %>