<%- include('../includes/navigation.ejs') %>

  <section class="main">
    <div class="main-content tabcontent" id="patient">
<div class="pd-1">
   <div class="container">
      <a href="/add-patient" class="add-new addMain" >add patient</a>
     <table>
    <thead>
      <tr>
        <th scope="col">patient name</th>
        <th scope="col">national id</th>
        <th scope="col">phone</th>
     
        <th scope="col">address</th>

        <th scope="col">email</th>
        <th scope="col" class="center">blood type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if (patients.length > 0) {
        let i = itemCounterStartInCurrentPage;
        for (let patient of patients) { %>
     <tr>
        <td data-label="name"><%= patient.patientName %></td>
        <td data-label="national id">  <%= patient.nationalId %></td>
        <td data-label="phone"><%= patient.phoneNumber %></td>
    
        <td data-label="address"><%= patient.address %></td>
  
        <td data-label="email" class="email">mohamed@gmail.com</td>

        <td data-label="blood type" class="blood-type center"><%= patient.bloodType %></td>
        <% if (isAuthenticated && patient.userId._id.toString() === currentUser._id.toString()) { %> 
        <td data-label="edit" class="right">
          <span><a href="/edit-patient/<%= patient._id %>?edit=true"><i class="fas fa-edit"></i></a></span>
          <span>
            <form action="/delete-patient" method="POST" style="display: inline-block;">
              <input type="hidden" value="<%= patient._id %>" name="patientId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
          </span>
        </td>
        <% } %> 
      </tr> 
      <% i--; } %>
    <% } else { %>
      <div class="not-found">
      <p><i class="fas fa-exclamation-triangle"></i> No Patients found.</p>
    </div>
      <% } %>
    </tbody>
 </table>
   </div> 		
</div>
</div> 
  </section>






  <%- include('../includes/pagination.ejs', paginationObject) %>

  <%- include('../includes/bottom.ejs') %>