<%- include('../includes/top.ejs') %>

</head>

<body>
  <section class="main">
    <%- include('../includes/navigation.ejs') %>
    <div class="main-content tabcontent charity" id="charity">
      <div class="new-items">
           <div class="new-items_conatiner">
             <h2>new charity</h2>
             <p class="red">charity info</p>
           <form class="new-items_form">	 
              <label class="new-items_label" for="charity">charity Name</label>
              <input class="new-items_input" type="text" name="charity">   		 
                  <label class="new-items_label" for="phone">Phone Number</label>
              <input class="new-items_input" type="number" name="phone">
                  <label class="new-items_label" for="address">Address</label>
              <input class="new-items_input" type="text" name="address">
                  <label class="new-items_label" for="description">Description</label>
              <textarea class="new-items_input" name="description"></textarea>
           </form>	 
           <button class="add-new add-new_float addnew">create</button>
           </div>
         </div>
 <div class="pd-1">
      <div class="container">
         <button class="add-new">Add Charity</button>
        <table>
       <thead>
         <tr>
           <th scope="col">charity name</th>
           <th scope="col">phone</th>
           <th scope="col" style="width:20%">address</th>
           <th scope="col" style="width:40%;">description</th>
           <th scope="col"></th>				 

         </tr>
       </thead>
       <tbody>
         <tr>
           <td data-label="name">resala</td>
           <td data-label="phone">0154782135</td>				   
           <td data-label="address">mansoura near mansoura stadium's</td>
           <td data-label="description:">
             Duis aute irure dolor in reprehenderit in voluptate velit esse
           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          
         </td>
         
           <td data-label="edit" class="right">
             <span><a><i class="fas fa-edit"></i></a></span>
             <span><a><i class="fas fa-trash-alt"></i></a></span>

           </td>
         </tr>
         <tr>
           <td data-label="name">al-orman</td>
           <td data-label="phone">0154782135</td>				   
           <td data-label="address">mansoura near al-moder</td>
           <td data-label="description: ">
             Duis aute irure dolor in reprehenderit in voluptate velit esse
           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             
           </td>
           <td data-label="edit" class="right">
             <span><a><i class="fas fa-edit"></i></a></span>
             <span><a><i class="fas fa-trash-alt"></i></a></span>

           </td>
         </tr>
            
       </tbody>
    </table>
      </div> 		
 </div>
</div>
  </section>

  <!-- <main class="myContainer">
    <% if (charities.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let charity of charities) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          
          <p>Charity Name:</p>
          <div class="myItem">
            <%= charity.charityName %>
          </div>
         
          <p>Address</p>
          <div class="myItem">
            <%= charity.address %>
          </div>

          <p>Phone Number</p>
          <div class="myItem">
            <%= charity.phoneNumber %>
          </div>
          <p>Description</p>
          <div class="myItem">
            <%= charity.description %>
          </div>

          <% if (isAuthenticated && charity.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-charity/<%= charity._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-charity" method="POST">
              <input type="hidden" value="<%= charity._id %>" name="charityId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No charities found.</p>
    <% } %>

    <%- include('../includes/pagination.ejs', paginationObject) %>

  </main> -->

  <%- include('../includes/bottom.ejs') %>