<%- include('../includes/top.ejs') %>

</head>

<body>
  <section class="main">
    <%- include('../includes/navigation.ejs') %>
    <div class="main-content tabcontent charity" id="charity">
      
 <div class="pd-1">
      <div class="container">
         <a href="/add-charity" class="add-new">Add Charity</a>
        <table>
       <thead>
         <tr>
           <th scope="col">charity name</th>
           <th scope="col">phone</th>
           <th scope="col" style="width:20%">address</th>
           <th scope="col" style="width:40%;">description</th>
           <th scope="col"></th>				 

         </tr>
       </thead>
       <tbody>
        <% if (charities.length > 0) {
          let i = itemCounterStartInCurrentPage;
          for (let charity of charities) { %>
         <tr>
           <td data-label="name"><%= charity.charityName %></td>
           <td data-label="phone"><%= charity.phoneNumber %></td>				   
           <td data-label="address"><%= charity.address %></td>
           <td data-label="description:">  <%= charity.description %></td>

           <% if (isAuthenticated && charity.userId._id.toString() === currentUser._id.toString()) { %>
            <td data-label="edit" class="right">
              <span><a href="/edit-charity/<%= charity._id %>?edit=true"><i class="fas fa-edit"></i></a></span>
              <span>
                <form action="delete-charity" method="POST" style="display: inline-block;">
                  <input type="hidden" value="<%= charity._id %>" name="charityId">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <a type="submit"><i class="fas fa-trash-alt"></i></a>
                </form>
              </span>
            </td>
            <% } %> 


        </tr> 
        <% i--; } %>
      <% } else { %>
        <p>No Patients found.</p>
        <% } %>
      </tbody>
    </table>
      </div> 		
 </div>
</div>
  </section>

  <!-- <main class="myContainer">
    <% if (charities.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let charity of charities) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          
          <p>Charity Name:</p>
          <div class="myItem">
            <%= charity.charityName %>
          </div>
         
          <p>Address</p>
          <div class="myItem">
            <%= charity.address %>
          </div>

          <p>Phone Number</p>
          <div class="myItem">
            <%= charity.phoneNumber %>
          </div>
          <p>Description</p>
          <div class="myItem">
            <%= charity.description %>
          </div>

          <% if (isAuthenticated && charity.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-charity/<%= charity._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-charity" method="POST">
              <input type="hidden" value="<%= charity._id %>" name="charityId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No charities found.</p>
    <% } %>

    <%- include('../includes/pagination.ejs', paginationObject) %>

  </main> -->

  <%- include('../includes/bottom.ejs') %>