<%- include('../includes/top.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="myContainer center">

    <form action="/edit-charity" method="POST">

      <label for="charityName">Charity Name</label>
      <input type="text" name="charityName" id="charityName" value="<% if (editing) { %><%= charity.charityName %><% } %>">

      <label for="phoneNumber">Phone</label>
      <input type="text" name="phoneNumber" id="phoneNumber" value="<% if (editing) { %><%= charity.phoneNumber %><% } %>">

      <label for="address">Address</label>
      <input type="text" name="address" id="address" value="<% if (editing) { %><%= charity.address %><% } %>">

      <label for="description">Description</label>
      <textarea name="description" id="description" cols="30" rows="10">
        <%if (editing) {%><%= charity.description%><% } %>
      </textarea>

      <% if (editing) { %>
      <input type="hidden" value="<%= charity._id %>" name="charityId">
      <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="myButton" type="submit">Submit</button>
    </form>
  </main>

  <%- include('../includes/bottom.ejs') %>