
  <%- include('../includes/navigation.ejs') %>

  <%- include('../includes/navigation.ejs') %>

<section class="main">
  <div class="main-content tabcontent" id="account">
    <div class="pd-1">
     <div class="container">
       <h2 class="title-h2">Account Setting</h2>
       <hr/>
      <form class="account-setting" action="/user/password/<%= user.id %>?_method=PUT" method="POST">
       <div class="account-setting__form">
             <h3>Account Info</h3>
    
    </div>
    <div class="account-setting__form">
      <h3>Change Password</h3>
      <div class="form-container">
 
       <div>
         <label for="newpassword" class="account-setting__label">New Password</label>
         <input type="password" class="account-setting__input" placeholder="New Password" name="newpassword"/>
         </div>
       <div>
       <label for="confirmpassword" class="account-setting__label">Confirm Password</label>
       <input type="password" class="account-setting__input" placeholder="Confirm Password" name="confirmpassword"/>
       </div>
       <div class="change">
        <a href="/user/<%= user.id %>">Cancel</a>
        <button  type="submit" class="change__btn">Change</button>  
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
       </div>
    </div>
       
      
      
</div>

      </form>	
    </div>
  </div>
</div>
</section>





 <!--  <main class="myContainer">

    <h2>Edit Account Info</h2>
    <form action="/user/password/<%= user.id %>?_method=PUT" method="POST">

      <div>Change Your Password</div>
      <div>
        <label>New Password</label>
        <input type="password" name="password" value="">
      </div>

      <div>
        <label>Confirm New Password</label>
        <input type="password" name="confirmPassword" value="">
      </div>


      <a href="/user/<%= user.id %>">Cancel</a>
      <button type="submit">Update</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>

  </main> -->

  <%- include('../includes/bottom.ejs') %>