<%- include('../includes/top.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="myContainer">

    <h2>Edit Account Info</h2>
    <form action="/user/password/<%= user.id %>?_method=PUT" method="POST">

      <div>Change Your Password</div>
      <div>
        <label>New Password</label>
        <input type="password" name="password" value="">
      </div>

      <div>
        <label>Confirm New Password</label>
        <input type="password" name="confirmPassword" value="">
      </div>


      <a href="/user/<%= user.id %>">Cancel</a>
      <button type="submit">Update</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>

  </main>

  <%- include('../includes/bottom.ejs') %>