
  <%- include('../includes/navigation.ejs') %>

<section class="main">
  <div class="main-content tabcontent" id="account">
    <div class="pd-1">
     <div class="container">
       <h2 class="title-h2">Account Setting</h2>
       <hr/>
      <form class="account-setting">
       <div class="account-setting__form">
             <h3>Account Info</h3>
         <div class="form-container"> 
         <div>
        <label for="firstName" class="account-setting__label">First Name</label>
        <input type="text" class="account-setting__input" placeholder="First Name" name="firstName" value="<%= user.firstName %>"/>
        </div>
        <div>
          <label for="lastName" class="account-setting__label">Last Name</label>
          <input type="text" class="account-setting__input" placeholder="Last Name" name="lastName" value="<%= user.lastName %>"/>
          </div>
        <div>
        <label for="emailaddress" class="account-setting__label">Email Address</label>
        <input type="email" class="account-setting__input" placeholder="Email Address" name="emailaddress" value="<%= user.email %>"/>
        </div>
        <div>
        <label for="phonenumber" class="account-setting__label">Phone Number</label>
        <input type="number" class="account-setting__input" placeholder="Phone Number" name="phonenumber" value="<%= user.phoneNumber %>"/>
        </div>
        <div>
        <label for="city" class="account-setting__label">City</label>
        <input type="text" class="account-setting__input" placeholder="City Name" name="city" value="<%= user.city %>"/>
        </div>
        <div>
        <label for="state" class="account-setting__label">State</label>
                  <input type="text" class="account-setting__input" placeholder="Sate Name" name="state" value="<%= user.state %>"/>  
      </div>
      </div>
    </div>
    <div class="account-setting__form">
      <h3>Change Password</h3>
      <div class="form-container">
      <div>
       <label for="oldpassword" class="account-setting__label">Old Password</label>
       <input type="password" class="account-setting__input" placeholder="Old Password" name="oldpassword"/>
       </div>
       <div>
         <label for="newpassword" class="account-setting__label">New Password</label>
         <input type="password" class="account-setting__input" placeholder="New Password" name="newpassword"/>
         </div>
       <div>
       <label for="confirmpassword" class="account-setting__label">Confirm Password</label>
       <input type="password" class="account-setting__input" placeholder="Confirm Password" name="confirmpassword"/>
       </div>
       <div class="change">
        <input type="button" class="change__btn" value="Change">  
       </div>
    </div>
       
      
      
</div>
<div class="save">
  <a href="/user/<%= user.id %>/edit" class="save__btn">Edit</a> 
</div>
      </form>	
    </div>
  </div>
</div>
</section>
<!-- 
  <main class="myContainer">
  
    <div>
      <label >First Name:</label>
      <span><%= user.firstName %></span>
    </div>

    <div>
      <label >Last Name:</label>
      <span><%= user.lastName %></span>
    </div>
    <div>
      <label >E-mail:</label>
      <span><%= user.email %></span>
    </div>

    <div>
      <label >City:</label>
      <span><%= user.city %></span>
    </div>

    <div>
      <label >State:</label>
      <span><%= user.state %></span>
    </div>

    <div>
      <label >Phone:</label>
      <span><%= user.phoneNumber %></span>
    </div>

    <div>
      <label >Blood type:</label>
      <span><%= user.bloodType %></span>
    </div>
    
    <a href="/user/<%= user.id %>/edit">Edit</a>
  </main> -->

  <%- include('../includes/bottom.ejs') %>