<%- include('../includes/head.ejs')%>
</head>
<body>
  <%-include('../includes/userNavigation.ejs')%>
  <main>
    <div class="main__info">
      <!-- <h2 class="header">Search City</h2> -->
      <p>
        You can search for donors around you by entering the city name.
      </p>
      <form class="user-search" action="/donor/schedules/city" method="GET">
        <input type="text" name="city" placeholder="City Name " value="<%= searchOptions.city %>">
        <button type="submit">Search <i class='fas fa-search-location'></i></button>
      </form>

      <div class="form-search">

        <% users.forEach(user => { %>
          <%if(user.city === searchOptions.city) { %>
            <div class="result">
              <div class="grid">
                <img src="/images/user/profile.svg" alt="User avatar" />
                <div class="result__desc">
                  <div><%= user.firstName.concat(' ',user.lastName) %></div>
                  <div><%= user.bloodType%></div>
                  <!-- <div><%= user.phoneNumber%></div> -->
                </div>
              </div>

              <form  action="/donor/schedules/city" method="POST">
                <input  class="disabled" type="email" name="email" id="email" value="<%= user.email %>" placeholder="Enter Your email....">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <button class="btn " type="submit">Send Email</button>
              </form>
            </div>
          <% }%>
         <% })  %>
      </div>
    </div>


  </main>
</body>

</html>