<%- include('../includes/head.ejs')%>
</head>
<body>
  <%-include('../includes/userNavigation.ejs')%>
  <main>
    <div class="main__info">
      <h2 class="header">Donation Information</h2>
      <% if(donors.length > 0) { donors.forEach(donor => { %>
        <% if (isAuthenticated && donor.email === currentUser.email) { %>
          <div class="donation">
            <img class="donation__img" src="/images/user/profile.svg" alt="Donor avatar" />
            <div class="donation__information">
              <h3><%= donor.donorName%> </h3>
              <p> <i class="fas fa-city"></i> <%= donor.address %> <span> <i class="fas fa-map-marker"></i> <%= donor.bloodType%></span></p>
              <div class="donation__information--date">
                <h4><i class="fas fa-calendar-check"></i>Past Appointments</h4>
                <p class="past"><%= donor.donationDay %> </p>
              </div>
              <div class="donation__information--date">
                <h4> <i class="fas fa-calendar-check"></i>Future Appointments</h4>

                <p class=" future"><%= donor.nextDonationDay %></p>
              </div>
            </div>
          </div>
        <% } %>
      <%})%>
      <%} else { %>
      <div class="info">
        The content of this page is not available because your E-mail is not linked to our Donor Database.
        Your upcoming Donation are below , If you are a first time donor, you can come back to this step after your first donation.
      </div>
      <% } %>

    </div>
  </main>
</body>
</html>