<%- include('../includes/navigation.ejs') %>
  <section class="main">
  <div class="main-content tabcontent" id="bloodDonar">
    
      
<div class="pd-1">
   <div class="container">
      <button class="add-new addMain">add Donar</button>
     <table>
    <thead>
      <tr>
        <th scope="col">donar name</th>
        <th scope="col" >national id</th>
        <th scope="col">phone</th>
        <th scope="col">Next donation day</th>
        <th scope="col">last donate day</th>
        <th scope="col">address</th>
        <th scope="col" >email</th>
        <th scope="col" class="center">blood type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if (donors.length > 0) {
        let i = itemCounterStartInCurrentPage;
        for (let donor of donors) { %>
      <tr>
        <td data-label="name"> <%= donor.donorName %></td>
        <td data-label="national id"> <%= donor.nationalId %></td>
        <td data-label="phone"> <%= donor.phoneNumber %></td>
        <td data-label="last year" class="center"><%= donor.nextDonationDay %></td>
        <td data-label="last month" class="center"> <%= donor.donationDay %></td>
        <td data-label="address"><%= donor.address %> </td>
        <td data-label="email" class="email"><%= donor.userId.email %></td>
        <td data-label="blood type" class="center blood-type"><%= donor.bloodType %></td>
        
      <% if (isAuthenticated && donor.userId._id.toString() === currentUser._id.toString()) { %>
        
        <td data-label="edit" class="right">
          <span><a href="/edit-donor/<%= donor._id %>?edit=true"><i class="fas fa-edit"></i></a></span>
          <span>
            <form action="delete-donor" method="POST" style="display: inline-block;">
              <input type="hidden" value="<%= donor._id %>" name="donorId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <a type="submit"><i class="fas fa-trash-alt"></i></a>
            </form>
          </span>
        </td>
          <% } %> 


        
        </tr> 
        <% i--; } %>

        <% } else { %>
        <p>No donors found.</p>
        <% } %>
      </tbody>
 </table>
   </div> 		
</div>
</div> 
</section>
  <!-- <div class="main-content">
    <% if (donors.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let donor of donors) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          <!--<div class="myItem">
            <p> Added by: </p>
            <p><%= donor.userId.email %></p>
          </div>
          <div class="myItem">
            <p> On:</p>
            <p> <%= donor.date %> </p>
          </div>-------------------------------------
          <p>Donor Name:</p>
          <div class="myItem">
            <%= donor.donorName %>
          </div>
          <p>National Id</p>
          <div class="myItem">
            <%= donor.nationalId %>
          </div>
          <p>Address</p>
          <div class="myItem">
            <%= donor.address %>
          </div>
          <p>E-mail</p>
          <div class="myItem">
            <%= donor.email %>
          </div>
          <p>Phone Number</p>
          <div class="myItem">
            <%= donor.phoneNumber %>
          </div>
          <p>Blood Type</p>
          <div class="myItem">
            <%= donor.bloodType %>
          </div>
          <p>Donation Day</p>
          <div class="myItem">
            <%= donor.donationDay %>
          </div>
          <p>Next Donation Day</p>
          <div class="myItem">
            <%= donor.nextDonationDay %>
          </div>

          <% if (isAuthenticated && donor.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-donor/<%= donor._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-donor" method="POST">
              <input type="hidden" value="<%= donor._id %>" name="donorId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No donors found.</p>
    <% } %>

  </div> -->
  <%- include('../includes/pagination.ejs', paginationObject) %>
    

  <%- include('../includes/bottom.ejs') %>