<%- include('../includes/navigation.ejs') %>
  <section class="main">
  <div class="main-content tabcontent" id="bloodDonar">


<div class="pd-1">
   <div class="container">
    <form class="email__search" action="/sendEmail" method="GET">
        <input type="text" class="search-bar" placeholder="Search with bloodType" name="bloodType" value="<%= searchOptions.city %>">
        <button type="submit" class="add-new addMain">Search</button>
     </form>
     <table>
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Blood type</th>
        <th scope="col">E-mail</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% types.forEach(type => { %>
        <%if(type.bloodType === searchOptions.bloodType) { %>
          <tr>
            <td data-label="phone"><%= type.firstName.concat(' ', type.lastName) %></td>
            <td data-label="bloodType"> <%= type.bloodType %></td>

            <td>
                <form action="/sendEmail?bloodType=<%=searchOptions.bloodType%>" method="POST">
                  <input class="none" type="email" name="email" id="email" value="<%= type.email %>" placeholder="Enter Your email....">
                  <td>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                          <button class="btn save__btn floating-right" type="submit">Send Email</button>
                  </td>
                  </form>
           </td>
           <td></td>

        <% }%>
      <% })  %>


      <% if (users.length > 0 && !searchOptions.bloodType) {
        let i = itemCounterStartInCurrentPage;
        for (let user of users) { %>


      <tr>
          <td data-label="phone"><%= user.firstName.concat(' ', user.lastName) %></td>
          <td data-label="bloodType"> <%= user.bloodType %></td>

          <td>
              <form action="/sendEmail" method="POST">
                <input class="none" type="email" name="email" id="email" value="<%= user.email %>" placeholder="Enter Your email....">
                <td>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button class="btn save__btn floating-right" type="submit">Send Email</button>
                </td>
                </form>
         </td>
         <td></td>

      <% if (isAuthenticated && user._id.toString() === currentUser._id.toString()) { %>
          <span>
              <input type="hidden" value="<%= user._id %>" name="userId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </span>

          <% } %>
        </tr>
        <% i--; } %>
        <% } else if(users.length <= 0 && searchOptions.bloodType) { %>
        <p>No users found.</p>
        <% } %>
      </tbody>
 </table>
   </div>
</div>
</div>
</section>
  <%- include('../includes/pagination.ejs', paginationObject) %>
  <%- include('../includes/bottom.ejs') %>