<%- include('../includes/navigation.ejs') %>
  <section class="main">
  <div class="main-content tabcontent" id="bloodDonar">
    
      
<div class="pd-1">
   <div class="container">
     <table>
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">blood type</th>
        <th scope="col">phone</th>
        <th scope="col">Message</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if (users.length > 0) {
        let i = itemCounterStartInCurrentPage;
        for (let user of users) { %>
      <tr>
          <td data-label="phone"><%= user.firstName.concat(' ', user.lastName) %></td>
          <td data-label="bloodType"> <%= user.bloodType %></td>
          <td data-label="phone"><input class="none" type="tel" name="number" id="number" value="<%= user.code.concat(user.phoneNumber) %>" placeholder="Enter Phone Number..."></td>
          <td data-label="text"><input class="none" type="text" name="msg" id="msg" value="Please success" placeholder="Enter Text Message..."></td>
          
  
          <td><button type="button" id="button" value="Send Text" class="save__btn">SendSMS</button></td>
            <p class="response"></p>
          
      <% if (isAuthenticated && user._id.toString() === currentUser._id.toString()) { %>
          
          <span>
              <input type="hidden" value="<%= user._id %>" name="userId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </span>
        </td>
          <% } %> 


        
        </tr> 
        <% i--; } %>

        <% } else { %>
          <div class="not-found">
        <p><i class="fas fa-exclamation-triangle"></i> No users found.</p>
        </div>
        <% } %>
      </tbody>
 </table>
   </div> 		
</div>
</div> 
</section>
  <%- include('../includes/pagination.ejs', paginationObject) %>
    
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
  <%- include('../includes/bottom.ejs') %>