<%- include('../includes/top.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="myContainer">
    <% if (bags.length > 0) {
      let i = itemCounterStartInCurrentPage;
      for (let bag of bags) { %>
        <li class="myBox">
          <div class="myItem">          
              <p><%= i %></p>
            </div>
          
          <p>Blood Type</p>
          <div class="myItem">
            <%= bag.bloodType %>
          </div>
          
          <p>Charity Name</p>
          <div class="myItem">
            <%= bag.charityName %>
          </div>

          <p>Donor Name</p>
          <div class="myItem">
            <%= bag.donorName %>
          </div>

          <p>Quantity:</p>
          <div class="myItem">
            <%= bag.bloodQuantity %>
          </div>

          <% if (isAuthenticated && bag.userId._id.toString() === currentUser._id.toString()) { %>
          <div class="myItem">
            <a href="/edit-bag/<%= bag._id %>?edit=true" class="btn">Edit</a>
          </div>
          <div class="myItem">
            <form action="delete-bag" method="POST">
              <input type="hidden" value="<%= bag._id %>" name="bagId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="myButtonThatLooksLikeLink" type="submit">Delete</button>
            </form>
            <% } %>
          </div>
        </li>
    <% i--; } %>

    <% } else { %>
    <p>No Bloods Bags found.</p>
    <% } %>

    <%- include('../includes/pagination.ejs', paginationObject) %>

  </main>

  <%- include('../includes/bottom.ejs') %>