<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="form" action="/signup" method="POST" novalidate>
         <div class="form__title">
          <p class="form__p">SIGNUP FORM</p>
          <h2 class="form__h2">Join to Unlock more Features</h2>
        </div> 
        <div class="form__container"> 
          <input 
              type="text" 
              name="firstName" 
              id="firstName" 
              placeholder="First name"
              class="form__input <%= validationErrors.find(e => e.param === 'first') ? 'invalid' : '' %>"
              value="<%= oldInput.firstName %>">
          <input 
               type="text" 
               name="lastName" 
               class="form__input <%= validationErrors.find(e => e.param === 'last') ? 'invalid' : '' %>" 
               id="lastName" 
               placeholder="Last name"
               value="<%= oldInput.lastName %>">
        </div>  
        <div class="form__container form__container_w"> 
          <input 
              type="email" 
              class="form__input <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" 
              name="email" 
              id="email" 
              placeholder="Email@me.com"
              value="<%= oldInput.email %>">
        </div>
        <div class="form__container"> 
          <input 
             type="text"
             class="form__input <%= validationErrors.find(e => e.param === 'state') ? 'invalid' : '' %>" 
             id="state"
             name="state" 
             placeholder="State"
             value="<%= oldInput.state %>">
          <input 
               type="text" 
               name="city" 
               id="city" 
               class="form__input <%= validationErrors.find(e => e.param === 'city') ? 'invalid' : '' %>" 
               placeholder="City"
               value="<%= oldInput.city %>">

          <select class="form__input <%= validationErrors.find(e => e.param === 'bloodType') ? 'invalid' : '' %>" name="bloodType" id="bloodType" value="<%= oldInput.bloodType %>">
            <option value="b+">B+</option>
            <option value="b-">B-</option>
            <option value="a+">a+</option>
            <option value="a-">a-</option>
            <option value="ab-">ab-</option>
            <option value="ab+">ab+</option>
            <option value="o-">o-</option>
            <option value="o+">o+</option>
            <option value="None">None</option>
          </select>
         </div>
         <div class="form__container"> 
            <select class="form__input form__input_select <%= validationErrors.find(e => e.param === 'code') ? 'invalid' : '' %>" name="code" id="code" value="<%= oldInput.code %>"> 
            <option value="+20">+20</option>
            <option value="+966">+966</option>
     
          </select>
          <input
                 type="number" 
                 name="phoneNumber"
                 id="phoneNumber"
                 class="form__input <%= validationErrors.find(e => e.param === 'phoneNumber') ? 'invalid' : '' %>" 
                 placeholder="Phone number"
                 value="<%= oldInput.phoneNumber %>">
        </div> 
        <div class="form__container form__container_w"> 
          <input type="password"
                 class="form__input <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" 
                 id="password" 
                 name="password" 
                 placeholder="Password"
                 value="<%= oldInput.password %>">
        </div>
        <div class="form__container form__container_w"> 
          <input type="password" 
                 class="form__input <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"                   
                 name="confirmPassword" 
                 id="confirmPassword" 
                 placeholder="Confirm Password"
                 value="<%= oldInput.confirmPassword %>">
        </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="form__button" type="submit">Signup</button>
            <p class="form__p form__p_color">
           By join, you agree with the<a href="#"> Terms of Service </a> and the <a href="#">Privacy Policies </a> of the site.<br>
           Want to register as a Bloodbank account? <a href="#"> Click here</a>
        </p>
        </form>

    </main>
<%- include('../includes/end.ejs') %>